<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleExecutable</key>
  <string>surfice</string>
    <key>CFBundleIconFile</key>
  <string>surfice</string>
  <key>CFBundleName</key>
  <string>Surf Ice</string>
  <key>CFBundleIdentifier</key>
  <string>www.mricro.com.surfice</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleSignature</key>
  <string>surf</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.20190803</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CSResourcesFileMapped</key>
  <true/>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>CFBundleTypeExtensions</key>
      <array>
            <string>3ds</string>
            <string>asc</string>
            <string>ctm</string>
            <string>dxf</string>
            <string>edge</string>
            <string>gii</string>
            <string>gts</string>
            <string>lwo</string>
            <string>ms3d</string>
            <string>mz3</string>
            <string>node</string>
            <string>nodz</string>
            <string>nv</string>
            <string>obj</string>
            <string>off</string>
            <string>ply</string>
            <string>srf</string>
            <string>stl</string>
            <string>trk</string>
            <string>vtk</string>
            <string>vtk</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>Surfice Mesh</string>
      <key>CFBundleTypeIconFile</key>
      <string>surfice_doc.icns</string>
      <key>CFBundleTypeOSTypes</key>
      <array>
        <string>fold</string>
        <string>disk</string>
        <string>****</string>
      </array>
    </dict>
  </array>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
